<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="main.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <div id='app'></div>

    <script>
        new Vue ({
            el: '#app',
            template: `
            <div>
            <h1>Projeto</h1>
            </hr>
            <div class="form-todo form-group">
            <p>
                <input placeholder="nome" type="text" name="nome" class="form-control" 
                v-model="nome" />
                <input placeholder="autor" type="text" name="autor" class="form-control" v-model="autor" />   
                <input placeholder="tecnologias" type="text" name="tecnologias" class="form-control" 
                v-model="tecnologias" />
                <input placeholder="link" type="text" name="link" class="form-control" v-model="link" />   
                <button v-on:click="addProject" :disabled="nome.length < 1" type="submit" class="btn btn-primary">Enviar</button>
            </p>   
            
            </div>
            <hr />
            <div>
                <div v-for="(project, index) in projects">
                    <h4>Projeto: {{project.nome}} </h4>
                    <h4>Autor</h4>
                    <p>{{project.autor}}</p>
                    <h4>Tecnologias<h4>
                    <div v-for="tecnologia in project.tecnologias">
                        <p>{{tecnologia}}</p>
                    </div>
                    <h4>Link<h4>
                    <p>{{project.link}}</p>
                    <button v-on:click="removeProject()" type="submit" value="" class="btn btn-primary">Excluir</button>
                    <hr/>
                </div>
            
            </div>
        </div>
      
            `,
            data() {
                return {
                    projects: [{
                            autor: 'a sua mãe',
                            nome: 'vibrador',
                            tecnologias: ['Java', 'C++'],
                            link: "asasfj.vom"
                        }],
                    autor: '',
                    nome: '',
                    tecnologias: '',
                    link: '',
                }
            },
            methods: {
                addProject() {
                    this.projects.push(
                        {
                            autor: this.autor,
                            nome: this.nome,
                            tecnologias: this.tecnologias.split(','),
                            link: this.link
                        }
                    );
                    this.autor = ''
                    this.nome = ''
                    this.tecnologias = ''
                    this.link = ''
                },

                removeProject(index) {
                    if (window.confirm('Deseja mesmo excluir?'))
                        this.projects.splice(index, 1);
                }
            }
        })

    
    </script> 
        
</body>
</html>